body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
.logo {
    width: 100px;
    height: auto;
    border-radius: 7px
}
.title {
    margin-top: 10px;
}
nav {
    background-color: #444;
    text-align: center;
    padding: 10px 0;
}
.subtitles {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.subtitles button,
.subtitles a {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
}

.subtitles button:hover,
.subtitles a:hover {
    background-color: #666;
}



.text {
    text-align: center;
    padding: 20px 0;
}
main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#cont {
    margin: 10px;
}
#photo img {
    width: 200px;
    height: auto;
}

.enlaces {
    margin-top: 10px;
}

